[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
[submodule "XRT"]
	path = XRT
	url = git@github.com:stsoe/XRT.git
[submodule "xrt"]
	path = xrt
	url = git@github.com:stsoe/XRT.git
